body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;    
}

ul li {
  list-style-type: none
}

.contact {
  padding: 0.5rem 0;
  /* min-height: 100vh; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem;
}

.contacts {
  padding: 0;
}

.contact__heading {
  text-transform: capitalize;
}

.contact__list {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 1rem .5rem;
}

.contact__list:hover {
  background-color: hsl(240, 68%, 89%);
}

.contact__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.6rem;
}

.contact__name {
  text-transform: capitalize;  
}

.contact__number {
  margin-top: .5rem;
}

.contact__avatar {
  border: 1px solid #555;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;  
  padding: 0.7rem;    
  height: 100%;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.fab__container {  
  position: fixed;      
  bottom: 55px;
  right: 55px;  
  height: 60px;
  width: 60px;  
  cursor: pointer;
}


.fab {
  background-color: rgb(108, 71, 143);  
  height: 60px;
  width: 60px;    
  bottom: 35px;
  right: 25px;
  border-radius: 50%;
}

.icon {
  width: 20px;
  height: 20px;
}

.contact__action {  
  display: flex;
  padding: 0.8rem;
}

.contact__action span {
  margin-left: auto;
  display: flex;
  gap: 0.9rem;


}


/* 
 * Media Query
*/

/* tablet */
@media screen and (min-width: 768px) {
  .contact {
    outline: 1px solid red;
    max-width: 70%;
    margin: 0 auto;
  }
}

